body {
  background-image: url("background.jpg");
  background-size: cover;
}

.container {
  width: 300px;
  margin: auto;
  margin-top: 18%;
  font-family: "PT Sans", sans-serif;
}

.message {
  margin: auto;
  text-align: center;
  font-size: 30px;
  color: #ffffff;
}

.fourofour {
  font-family: "Exo 2", sans-serif;
  font-size: 80px;
  display: block;
  max-width: 150px;
  text-align: center;
  margin: auto;
}



.button {
  justify-content: center;
  margin: auto;
  padding-top: 15px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  width: 200px;
  height: 50px;
  color: #ffffff;
}
.button > a {
  width: 200px;
  line-height: 50px;
  display: flex;
  justify-content: center;
  margin: auto;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  font-family: "Exo 2", sans-serif;
  font-size: 25px;
  -webkit-box-shadow: -6px 0px 15px 1px rgba(10, 10, 10, 0.55);
  -moz-box-shadow: -6px 0px 15px 1px rgba(10, 10, 10, 0.55);
  box-shadow: -6px 0px 15px 1px rgba(10, 10, 10, 0.55);
}

a{
    color: inherit;
}

a:link{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
      -webkit-animation: rotate-hor-center 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
              animation: rotate-hor-center 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
    }

 
 @-webkit-keyframes rotate-hor-center {
  0% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
  100% {
    -webkit-transform: rotateX(-360deg);
            transform: rotateX(-360deg);
  }
}
@keyframes rotate-hor-center {
  0% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
  100% {
    -webkit-transform: rotateX(-360deg);
            transform: rotateX(-360deg);
  }
}


a:visited{
    text-decoration: none;
}